<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/form.css">
</head>
<body>
  <%- include('../includes/nav.ejs') %>

  <main>
    <h1>Player Info</h1>
    <form action="/update-player" method="POST">
      <div class="form-input">
          <label for="name">Name</label>
          <input type="text" name="name" id="name" value="<%= player.name %>">
      </div>
      <div class="form-input">
          <label for="wins">Wins</label>
          <input type="text" name="wins" id="wins" value="<%= player.wins %>">
      </div>
      <div class="form-input">
          <label for="losses">Losses</label>
          <input type="text" name="losses" id="losses" value="<%= player.losses %>">
      </div>
      <div class="form-input">
          <label for="race">Race</label>
          <input type="text" name="race" id="race" value="<%= player.race %>">
      </div>
      
      <div class="form-input">
        <a class="back" href="/">Back</a>
        <input class="update-input" type="submit" value="Update">
      </div>
    </form>

    <form class="delete-form" action="/delete-player" method="POST">
      <div class="form-input">
        <input type="hidden" name="id" value="<%= player._id %>">
        <input class="delete-input" type="submit" value="Delete">
      </div>
    </form>
  </main>
  
<%- include('../includes/foot.ejs') %>